# BLU01 - Exercises Notebook

**Important Note**

When reading files, please use `os.path.join()`. Specially if you are a Windows user!
The grader is running on Linux, reading a file my be running locally for you, but then don't run in the grader because of all the weird backslashes!

In [11]:
import chardet
import hashlib # for grading purposes
import math
import numpy as np
import csv
import pandas as pd
import random

## Q1: Use a shell command to keep in 2 variables the first third and the last third of the lines existent in a file

In [12]:
count_total

18

In [27]:
# Use the file data/exercises/elon_musk.txt
# Start by counting the total lines and add the total to the variable count_total.  
count_total = ! wc -l < data/exercises/elon_musk.txt
count_total = int(count_total[0])
#YOUR CODE HERE

In [28]:
expected_hash = '4ec9599fc203d176a301536c2e091a19bc852759b255bd6818810a42c5fed14a'
assert hashlib.sha256(str(count_total).encode()).hexdigest() == expected_hash

In [34]:
text = ! cat data/exercises/elon_musk.txt
text[0:5]

6.0

In [38]:
# NOT GRADED optional exercise!!
# Now add the first third and the last third of the lines to the variables first_third and last_third. 
# Make it work to any files using count_total/3 for instance in the bash commands
first_third = text[: int(count_total/3)]
# YOUR CODE HERE

last_third = text[int(count_total/3)]
# YOUR CODE HERE

Test the `first_third` and `last_third` exercise by running the following (ungraded) asserts.

```
assert first_third[-1][0] == 'H'
assert last_third[0][0] == 'N'
```

## Q2: Read a file with specific delimiter

Read file **data/exercises/euribor_interest_rates.csv** into a pandas DataFrame.

First, you should preview the file using a shell command in order to find out the used delimiter, and other properties of this file.

Then, you should use function read_csv to read the data into a DataFrame. The resulting DataFrame should have the last column as index.

In [40]:
! head data/exercises/euribor_interest_rates.csv

In [51]:
df2

      Euribor 3 months Euribor 6 months Euribor 12 months
Years
1999              3,34             3,52              3,88
2000              4,86             4,83              4,75
2001              3,29             3,26              3,34
2002              2,87             2,80              2,75
2003              2,12             2,17              2,31
2004              2,16             2,22              2,36
2005              2,49             2,64              2,84
2006              3,73             3,85              4,03
2007              4,68             4,71              4,75
2008              2,89             2,97              3,05
2009              0,70             0,99              1,25
2010              1,01             1,23              1,51
2011              1,36             1,62              1,95
2012              0,19             0,32              0,54
2013              0,29             0,39              0,56
2014              0,08             0,17              0,33
2015             -0,13            -0,04              0,06
2016             -0,32            -0,22             -0,08
2017             -0,33            -0,27             -0,19

'3,29'

In [57]:
# Use a shell command to preview the data
# YOUR CODE HERE


# Use function read_csv to read the data into a DataFrame
df2 = pd.read_csv("data/exercises/euribor_interest_rates.csv", sep= '|', index_col='Years',decimal=',')
df2['Euribor 3 months'] = df2['Euribor 3 months'].astype(float)
# YOUR CODE HERE

In [58]:
assert df2.loc[2001, 'Euribor 3 months'] == 3.29
assert set(df2.columns) == {'Euribor 3 months', 'Euribor 6 months', 'Euribor 12 months'}
assert len(df2) == 19
assert df2.index[0] == 1999

expected_hash = 'b68ca0811f132f73edc68e9d3bebb288ef036c1fef8aabe6d2c63a2b6bfa859c'
assert hashlib.sha256(df2.index.name.encode()).hexdigest() == expected_hash

## Q3: Read a csv file with problems

Read file **data/exercises/portugal_urban_waste_per_inhabitant.csv** using function `read_csv`. Pay attention to the following:
* you might find some trouble when reading the file, at first, then just ignore the problems ;)
* use the first column as index
* there are some inputs in the file that should be interpreted as NaN, make sure you select the right one when reading the file!

In [61]:
! cat data/exercises/portugal_urban_waste_per_inhabitant.csv

In [63]:
# Read file data/exercises/portugal_urban_waste_per_inhabitant.csv with read_csv
df3 = pd.read_csv("data/exercises/portugal_urban_waste_per_inhabitant.csv",error_bad_lines=False,index_col='Years',na_values=["no-data","999999"])
# YOUR CODE HERE
df3

b'Skipping line 3: expected 3 fields, saw 6\nSkipping line 30: expected 3 fields, saw 5\n'

,Urban waste collection per inhabitant (kg/inhabitant),Selective urban waste collection per inhabitant (kg/inhabitant)
Years,,
1989,NaN,NaN
1991,425.7,1.5
1992,NaN,1.7
1993,357.6,2.3
1994,NaN,NaN
1995,352.0,4.0
1996,371.7,5.3
1997,397.0,6.6
1998,413.2,8.1
1999,433.3,10.6
2000,457.2,15.3
2001,454.4,18.3
2002,441.0,20.4
2003,448.7,21.7
2004,445.0,30.5
2005,451.8,40.5
2006,465.5,48.1
2007,471.1,54.6
2008,518.3,60.3
2009,520.1,66.5
2010,516.1,76.2
2011,490.4,71.4
2012,453.3,63.3
2013,439.7,56.3
2014,452.9,61.4
2015,460.4,70.8
2016,460.9,75.1

In [64]:
assert np.isnan(df3.loc[1994, 'Urban waste collection per inhabitant (kg/inhabitant)'])
assert df3.loc[2011, 'Selective urban waste collection per inhabitant (kg/inhabitant)'] == 71.4

mean_selective_waste = df3['Selective urban waste collection per inhabitant (kg/inhabitant)'].mean()
assert math.isclose(35.632, mean_selective_waste, rel_tol=1e-3)

expected_hash = 'b68ca0811f132f73edc68e9d3bebb288ef036c1fef8aabe6d2c63a2b6bfa859c'
assert hashlib.sha256(df3.index.name.encode()).hexdigest() == expected_hash

## Q4: Repair a csv file after importing
Read the same file **data/exercises/portugal_urban_waste_per_inhabitant.csv** using function `read_csv`. But now, be sure you don't miss any lines with relevant information! 

* use csv module to import everything to a list of lists
* create a df with only 3 meaningful columns, where the `Years` should be index
* replace garbage values with NaN's 
* format the columns with the right type

In [70]:
! cat data/exercises/portugal_urban_waste_per_inhabitant.csv

In [110]:
# Read file data/exercises/portugal_urban_waste_per_inhabitant.csv using  
f = open("data/exercises/portugal_urban_waste_per_inhabitant.csv",'r')
lines = list(csv.reader(f))
# YOUR CODE HERE

# create a dataframe using the line list with only 3 columns
df4 = pd.DataFrame(data=(i[:3] for i in lines[1:]),columns = list(lines)[0])
# YOUR CODE HERE

#replace invalid values with nan (np.nan)
# YOUR CODE HERE
df4 =df4.replace({'999999':np.nan,'no-data':np.nan})
df4['Years']=df4['Years'].astype(int)
df4['Urban waste collection per inhabitant (kg/inhabitant)']=df4['Urban waste collection per inhabitant (kg/inhabitant)'].astype(float)
df4['Selective urban waste collection per inhabitant (kg/inhabitant)']=df4['Selective urban waste collection per inhabitant (kg/inhabitant)'].astype(float)

#set types per dataframe column
# YOUR CODE HERE
df4 = df4.set_index('Years')
#set a new index to the dataframe
# YOUR CODE HERE
#lines
df4

,Urban waste collection per inhabitant (kg/inhabitant),Selective urban waste collection per inhabitant (kg/inhabitant)
Years,,
1989,NaN,NaN
1990,480.0,78.2
1991,425.7,1.5
1992,NaN,1.7
1993,357.6,2.3
1994,NaN,NaN
1995,352.0,4.0
1996,371.7,5.3
1997,397.0,6.6
1998,413.2,8.1
1999,433.3,10.6
2000,457.2,15.3
2001,454.4,18.3
2002,441.0,20.4
2003,448.7,21.7
2004,445.0,30.5
2005,451.8,40.5
2006,465.5,48.1
2007,471.1,54.6
2008,518.3,60.3
2009,520.1,66.5
2010,516.1,76.2
2011,490.4,71.4
2012,453.3,63.3
2013,439.7,56.3
2014,452.9,61.4
2015,460.4,70.8
2016,460.9,75.1
2017,480.0,78.2

In [111]:
assert np.isnan(df4.loc[1994, 'Urban waste collection per inhabitant (kg/inhabitant)'])
assert df4.loc[2012, 'Selective urban waste collection per inhabitant (kg/inhabitant)'] == 63.3

mean_selective_waste = df4['Selective urban waste collection per inhabitant (kg/inhabitant)'].mean()
assert math.isclose(38.78518518518518, mean_selective_waste, rel_tol=1e-3)

expected_hash = 'b68ca0811f132f73edc68e9d3bebb288ef036c1fef8aabe6d2c63a2b6bfa859c'
assert hashlib.sha256(df4.index.name.encode()).hexdigest() == expected_hash

## Q5: Read a JSON file

Read file **data/exercises/portugal_production_of_electricity_gwh.json**.

In [112]:
! cat data/exercises/portugal_production_of_electricity_gwh.json

}

In [116]:
# Read file data/exercises/portugal_production_of_electricity_gwh.json with read_json
df5 = pd.read_json("data/exercises/portugal_production_of_electricity_gwh.json", orient='index')
# YOUR CODE HERE
df5

,Biomass,Geothermal power,Hydropower < 10MW,Hydropower > 10MW,Photovoltaic,Total,Total renewable sources,Windpower,Year
0,988,42,492,7962,1,33264,9501,16,1995
1,959,49,658,14207,1,34520,15895,21,1996
2,1036,51,638,12537,1,34207,14301,38,1997
3,1022,58,566,12488,1,38984,14224,89,1998
4,1081,80,589,7042,1,43287,8915,122,1999
5,1296,80,675,11040,1,43764,13260,168,2000
6,1345,105,770,13605,2,46509,16083,256,2001
7,1473,96,706,7551,2,46107,10190,362,2002
8,1394,90,891,15163,3,46852,18037,496,2003
9,1547,84,577,9570,3,45105,12597,816,2004
10,1651,71,381,4737,3,46575,8616,1773,2005
11,1704,85,834,10633,5,49041,16187,2926,2006
12,1882,201,522,9927,24,47253,16593,4037,2007
13,1852,192,517,6781,41,45969,15140,5757,2008
14,2087,184,901,8108,160,50207,19017,7577,2009
15,2614,197,1088,15459,215,54093,28755,9182,2010
16,2923,210,820,11294,282,52465,24691,9162,2011
17,2951,146,567,6093,393,46614,20410,10260,2012
18,3051,197,1167,13701,479,51673,30610,12015,2013
19,3049,205,1341,15071,627,52802,32405,12111,2014
20,3104,204,752,9048,799,52423,25514,11608,2015
21,3070,172,1221,15689,822,60279,33448,12474,2016
22,3220,217,623,7009,992,59432,24309,12248,2017

In [117]:
assert len(df5) == 23
assert set(df5.columns) == {'Biomass', 'Geothermal power', 'Hydropower < 10MW', 'Hydropower > 10MW', 
                           'Photovoltaic', 'Total','Total renewable sources','Windpower','Year'}

expected_hash = 'c8226c54f1a24ae847c02a3e7a7d6e9fb44c2f82eb6f1fddcee9092c434e67fb'
assert hashlib.sha256(str(df5.loc[:,'Hydropower > 10MW'].sum()).encode()).hexdigest() == expected_hash

## Q6: Read an Excel file

Read file **data/exercises/portugal_gas_emissions_per_year.xlsx** using function read_excel. Pay attention to the following:

* you should grab the table "Series" in sheet "Metadata"
* use column 'Serie' as index
* make sure you keep only the rows with data
* set the variable distinct_scales with the number of ... distinct scales found in the table

In [138]:
# Read file data/exercises/portugal_gas_emissions_per_year.xlsx with read_excel
df6 = pd.read_excel(
    "data/exercises/portugal_gas_emissions_per_year.xlsx",
    sheet_name="Metadata",
    index_col="Serie",
     skiprows=22,

#     skipfooter=3
)# YOUR CODE HER
df6 = pd6.dropna(axis=0,how='all')
distinct_scales = 2
# YOUR CODE HERE

In [139]:
assert distinct_scales == 2
assert isinstance(df6, pd.DataFrame)
expected_hash = '60c3ad36f77e7366103fe36a3f551a0cde7d64e26d3102ddb8b953d6208a6006'
assert hashlib.sha256(
        df6.loc[
            df6.index=="Nitrogen oxides", 
            "Measure Unit"][0].encode()
    ).hexdigest() == expected_hash

## Q7: Find the encoding of a file

Find the encoding used in file **data/exercises/cities.csv**, using the method that was shown in the Learning Units.

Then, read the data into a DataFrame, using the read_csv method and find the `City` characters that has distance equal to 7503.

In [156]:
# Find the encoding of file data/exercises/mystery_cities.csv
encoding = chardet.detect(open("data/exercises/cities.csv", 'rb').read())['encoding']

# YOUR CODE HERE
# Read the file into a DataFrame
df7 = pd.read_csv("data/exercises/cities.csv", encoding='IBM866')
# YOUR CODE HERE

# Find the name of the city with distance = 7503
city_found = df7.loc[3]['City']
# YOUR CODE HERE
city_found

''

In [157]:
assert isinstance(df7, pd.DataFrame)

expected_hash_1 = '969aef39a1d4cb1c5928c774cd7a4e3ccfc064a18fbd43a70193a2631d8a122d'
assert hashlib.sha256(encoding.encode()).hexdigest() == expected_hash_1

expected_hash_2 = '8086d7adc029756c1b9094df64f6e79017dcc5a99c3c5e55b47beede11179a2b'
assert hashlib.sha256(city_found.encode()).hexdigest() == expected_hash_2

## Q8: Import a Random Sample of a Big File

Consider the file **data/exercises/world_percentage_of_literacy.tsv**. Let's imagine this file is really huge, with a lot of rows!  Read the file using a random sample of 7 rows. Count the actual lines with `wc`

In [160]:
! cat data/exercises/world_percentage_of_literacy.tsv

In [167]:
# Read file data/exercises/world_percentage_of_literacy.tsv with wc and save the number of lines
# in lines_in_file. Notice that the header is not a line..
# don't forget to close the opened file
# YOUR CODE HERE
lines_in_file = ! wc -l < data/exercises/world_percentage_of_literacy.tsv
lines_in_file = int(lines_in_file[0]) -1
# make parameter rows_to_skip equal to the lines you want to skip loading 
# don't forget: 
# - 7 rows should be fecthed)
# - you want to keep the header plus 7 rows in the new dataframe...
n_rows_to_skip = lines_in_file - 7

rows_to_skip = random.sample(
    range(1, lines_in_file-1), # this is a range from the first row after the header, to the last row on the file
    n_rows_to_skip # this is the number of rows we want to sample, i.e, to skip
)
# YOUR CODE HERE

# Create a df8 file with the sampled values
# YOUR CODE HERE
df8 = pd.read_csv("data/exercises/world_percentage_of_literacy.tsv",sep='\t',skiprows=rows_to_skip)

In [168]:
# getting remaining list of countries, removing rows_to_skip from the file
df_helper = pd.read_csv( 
    'data/exercises/world_percentage_of_literacy.tsv', 
    sep='\t',
    header=0 
)

total_indexes = list(df_helper.index)
for s in rows_to_skip:
    total_indexes.remove(s-1)

assert lines_in_file==194
assert isinstance(df8, pd.DataFrame)
assert list(df8['Country'])==list(df_helper.iloc[total_indexes]['Country'])
assert df8.shape[0]==7

expected_hash = '7902699be42c8a8e46fbbb4501726517e86b22c56a189f7625a6da49081b2451'
assert  hashlib.sha256(str(df8.shape[0]).encode()).hexdigest() == expected_hash

## Q9: Loading a Big File

Read file **data/exercises/world_percentage_of_literacy.tsv** using chunks keep only the columns `Country` and `Literacy rate (all)`.
Note that:
* file should be read by chunks of 10 countries
* the missing values should be removed (filtered in each chunk)
* the `Literacy rate (all)` should be converted to type float (in each chunk)
* the index should be incremental starting from 0 (i.e, you don't need to read any column as the index)

In the end calculate the average `Literacy rate (all)`

In [279]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the chunks should be appended in a list called chunk_arr
# YOUR CODE HERE
chunks_iter = pd.read_csv("data/exercises/world_percentage_of_literacy.tsv",sep='\t', chunksize = 10)
chunk_arr = []
mean_arr = []
for data_chunk in chunks_iter:

    #print(data_chunk['Literacy rate (all)'].value_counts())
    
    data_chunk['Literacy rate (all)'] = data_chunk['Literacy rate (all)'].replace('not reported by UNESCO 2015',np.nan)

    #print(data_chunk)
    
    data_chunk = data_chunk[['Country','Literacy rate (all)']].dropna(how='any')

    data_chunk['Literacy rate (all)'] = data_chunk['Literacy rate (all)'].str.replace('%','')
    data_chunk['Literacy rate (all)'] = data_chunk['Literacy rate (all)'].str.split('[').str.get(0)
    data_chunk['Literacy rate (all)'] = data_chunk['Literacy rate (all)'].str.split(' ').str.get(0)

    data_chunk['Literacy rate (all)']=data_chunk['Literacy rate (all)'].astype(float)
    #print(data_chunk)

    chunk_arr.append(data_chunk)
    mean_arr.append(data_chunk['Literacy rate (all)'].mean())
# df9 should be the final dataframe with concatenated chunks
# Resulting average should go on lit_avg variable
# YOUR CODE HERE
df9 = pd.concat(chunk_arr, axis=0)
weights=list((len(c) for c in chunk_arr))
lit_avg = df9['Literacy rate (all)'].mean()

In [280]:
assert df9.loc[df9['Country']=='World', 'Literacy rate (all)'].values[0] == 86.3
assert df9.dtypes['Country'] == np.object
assert df9.dtypes['Literacy rate (all)'] == np.float

expected_hash = 'f26cd8ca964afd7aaaea0cacb142419676cf9928772f5b5310a036ffdae1586a'
assert hashlib.sha256(str([len(c) for c in chunk_arr]).encode()).hexdigest() == expected_hash

expected_hash = '94f2bba3a658b5642ebbc9b952af45c3db1a185ae0357e4fe7ced784f0c3fe29'
assert hashlib.sha256(str(lit_avg).encode()).hexdigest() == expected_hash

## Q10: Calculate average values using chunks and avoiding a complete data frame in memory.

Using chunks, read file **data/exercises/world_percentage_of_literacy.tsv**, avoid incompleted rows and calculate the average of ***Literacy rate (all)*** without loading all data simultaneously. Use a similar approach of the previous question but don't create any dataframe neither any list with chunks;

***Hint: Use the average definition***

In [283]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the final average should be in the variable final_avg
# You should increment 2 variables in each chunk and use them at the end to calculate final_avg. call them lit_a, lit_b
# YOUR CODE HERE
lit_a=(np.dot(list(mean_arr),list(weights)))
final_avg = np.average(mean_arr,weights=list(len(c) for c in chunk_arr))
lit_b=sum(list(weights))

In [284]:
assert math.isclose(83.24370860927154, final_avg, rel_tol=1e-1)
assert lit_b==151 or lit_a==151
assert int(lit_b) == 12569 or int(lit_a)==12569