In [19]:
import json
import pandas as pd
import numpy as np
from hashlib import sha256
from collections import Counter

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler
import spacy
from spacy.matcher import Matcher
from nltk.corpus import stopwords

In [115]:
class Selector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a column from the dataframe to perform additional transformations on
    """ 
    def __init__(self, key):
        self.key = key
        
    def fit(self, X, y=None):
        return self
    

class TextSelector(Selector):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on text columns in the data
    """
    def transform(self, X):
        return X[self.key]
    
    
class NumberSelector(Selector):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def transform(self, X):
        print(self.key)
        return X[[self.key]]

In [89]:
df = pd.read_csv('BLU09 - Information Extraction/datasets/train_tweets.csv', encoding='latin1')
df.drop(["id"], axis=1,inplace=True)
df=df.dropna()
#df.rename(columns={"v1":"label", "v2":"message"},inplace=True)
df.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [3]:
# load the medium-sized SpaCy model
nlp = spacy.load('en_core_web_md')

In [5]:
# Create a list of SpaCy "Docs" by leveraging the SpaCy pipeline
docs = list(nlp.pipe(df.tweet))

In [6]:
df.label.value_counts(normalize=True)

0    0.929854
1    0.070146
Name: label, dtype: float64

In [9]:
map(str, train_data['tweet'].values)

In [42]:
# Split in train and validation
train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)

In [43]:
# Build the pipeline
text_clf = Pipeline([('tfidf', TfidfVectorizer()),
                   ('classifier', RandomForestClassifier(random_state = 42))])

# Train the classifier
text_clf.fit(map(str, train_data['tweet'].values), train_data['label'].values)

predicted = text_clf.predict(map(str, test_data['tweet'].values))
np.mean(predicted == test_data['label'])

/home/fc/anaconda3/envs/s4blu09/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9524479899890506

### Adding extra features

In [20]:
stop_words = set(stopwords.words('english'))

In [111]:
df['length'] = df['tweet'].map(len)
df['words'] = df['tweet'].str.split().map(len)
df['commas'] = df['tweet'].str.count(',')
df['upper'] = df['tweet'].map(lambda x: map(str.isupper, x)).map(sum)
df['capitalized'] = df['tweet'].map(lambda x: map(str.istitle, x)).map(sum)

df['words_not_stopword'] = df['tweet'].apply(lambda x: len([t for t in x.split() if t not in stop_words]))

df['avg_word_length'] = df['tweet'].apply(lambda x: np.mean([len(t) for t in x.split() if t not in stop_words]) if len([len(t) for t in x.split(' ') if t not in stop_words]) > 0 else 0)

df = df.dropna()

In [112]:
#ax_list = df.hist(column='length', by='label', bins=50,figsize=(12,4))
#ax_list[0].set_xlim((0,300))
#ax_list[1].set_xlim((0,300))

In [121]:
text = Pipeline([
                ('selector', TextSelector("tweet")),
                ('tfidf', TfidfVectorizer())
            ])

length =  Pipeline([
                ('selector', NumberSelector("length")),
                ('standard', StandardScaler())
            ])
words =  Pipeline([
                ('selector', NumberSelector(key='words')),
                ('standard', StandardScaler())
            ])
words_not_stopword =  Pipeline([
                ('selector', NumberSelector(key='words_not_stopword')),
                ('standard', StandardScaler())
            ])
avg_word_length =  Pipeline([
                ('selector', NumberSelector(key='avg_word_length')),
                ('standard', StandardScaler())
            ])
commas =  Pipeline([
                ('selector', NumberSelector(key='commas')),
                ('standard', StandardScaler())
            ])
upper =  Pipeline([
                ('selector', NumberSelector(key='upper')),
                ('standard', StandardScaler())
            ])
capitalized =  Pipeline([
                ('selector', NumberSelector(key='capitalized')),
                ('standard', StandardScaler())
            ])

feats = FeatureUnion([('text', text), 
                     ('length', length),
                     ('words', words),
                     ('words_not_stopword', words_not_stopword),
                      ('avg_word_length', avg_word_length),
                      ('commas', commas),
                    ('upper', upper),
                     ('capitalized', capitalized)])

feature_processing = Pipeline([('feats', feats)])

In [122]:
# Split in train and validation
train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier())
])
pipeline.fit(X = train_data, y = train_data.label)

preds = pipeline.predict(test_data)
np.mean(preds == test_data.label)

length
words
words_not_stopword
avg_word_length
commas
upper
capitalized

/home/fc/anaconda3/envs/s4blu09/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

length
words
words_not_stopword
avg_word_length
commas
upper
capitalized

0.9535429375879868

In [81]:
train_data

,label,tweet,length,words,commas,upper,capitalized,words_not_stopword,avg_word_length
12110,1,@user @user @user because i've been paying att...,94,16,0,3,3,11,5.454545
14081,0,@user raft building at salford quays as pa of...,89,16,0,0,0,12,5.166667
1829,0,friday Ã°ÂÂÂ Ã°ÂÂÂ» #gdegblog #friday #sel...,112,12,0,11,11,12,8.166667
2769,0,#fashion it is a true #fact,29,6,0,0,0,3,5.666667
31818,0,"so to #share the #simple, #elegant #business...",91,13,1,0,0,8,8.125000
9250,0,@user big update on @user colne uk european b...,106,17,0,0,0,14,5.714286
29624,0,five minutes to google translate and print a s...,87,15,0,0,0,10,5.800000
5505,0,lady_graces: berniesanders according to #gucc...,117,15,0,0,0,13,7.307692
1809,0,the simple things in life make one happy #smil...,82,12,0,0,0,10,6.200000
23277,0,#whoolo in film you can have sad endings. #an...,58,10,0,0,0,6,5.166667
21655,0,@user @user @user #way too young#sweet fella#i...,68,9,0,4,4,8,7.125000
27298,1,are Ã¢ÂÂ¦ #black &amp; feel like the are sto...,97,15,0,6,6,11,6.272727
17539,0,new fantastic jersey by tamai spo wear! #meblo...,90,13,0,0,0,12,6.083333
14791,0,#udtapunjabtoflytomorrow all setÃ°ÂÂÂÃ¢ÂÂ...,109,13,0,11,11,11,8.090909
27923,0,bought this mysterious beauty to read to my cl...,108,21,0,0,0,11,5.363636
13811,0,this is what #pgh #stanleycup looks like go ...,52,9,0,0,0,6,5.166667
7109,1,i'm not a but @user is the #truth #reality,43,9,0,0,0,4,5.500000
31310,0,happy bihday california gurls Ã°ÂÂÂ Ã°ÂÂÂ...,187,11,0,55,55,11,15.909091
18605,0,"when i don't want to do, or go don't pressuris...",79,16,1,0,0,8,4.875000
31863,1,#us refuses to veto resolution on #israel #zi...,73,9,0,0,0,7,8.285714
17782,1,#marijuana prohibition was from the sta #det...,107,14,0,0,0,11,7.454545
31824,0,Ã°ÂÂÂ the complete list of indian olympic...,62,9,0,4,4,7,6.428571
29483,0,Ã¢ÂÂ¤Ã¯Â¸ÂÃ¢ÂÂ¤Ã¯Â¸ÂÃ¢ÂÂ¤Ã¯Â¸Âto all the...,170,18,0,18,18,10,12.800000
19590,1,keep these conversations going at school and h...,120,21,0,3,3,12,6.083333
10887,0,our #pescatarian . happy customer = happy us...,50,9,0,0,0,8,4.500000
23515,0,when you've been waiting all night to hangout ...,130,21,0,0,0,9,6.666667
15356,0,wow. so the @user fines steve kerr for the com...,102,18,0,0,0,11,5.909091
17712,0,even the mere perception is bad business for ...,62,11,0,0,0,7,5.285714
22699,0,so much energy freed up. so much room for the...,67,13,0,0,0,8,5.000000
965,0,"you've got nothing to say, so you assume that?...",61,10,1,0,0,6,6.333333
...,...,...,...,...,...,...,...,...,...
17568,0,more from the journey in #bus #rain #nature ...,96,13,0,3,3,9,7.555556
6420,0,and dress = Ã¢ÂÂÃ¯Â¸Â!! #wedding #bellalily...,73,9,0,9,9,8,7.500000
5051,0,solidarity with orlando Ã°ÂÂÂ #solidaritywi...,107,10,0,7,7,9,10.111111
5311,0,its the hae tym u knw that life is sho no matt...,132,24,0,0,0,16,5.250000
2433,0,did any father travelling fm sing-mum get cram...,104,17,0,0,0,14,5.500000
23333,0,was able to advocate for my deaf friends to ha...,138,24,0,0,0,16,5.687500
30187,0,more love! #orlando #pulsenightclub #onelove #...,88,8,0,3,3,7,10.571429
26967,0,#vehicle gorilla simulator: you need to do t...,109,19,0,0,0,10,6.600000
769,0,#icymi: shooting at orlando nightclub kills ab...,86,12,1,0,0,10,6.400000
1685,0,"@user Ã¢ÂÂ #eur/gbp trims gains, now back ...",87,13,1,3,3,11,5.727273
8322,0,all set &amp; ready for tomorrows @user @user ...,72,11,0,0,0,9,5.888889
16023,0,@user are we all not tired of these #accraflo...,137,25,0,3,3,13,6.076923
27495,0,looks like we love each other #granddaughter #...,74,10,0,0,0,7,7.285714
11363,1,dull british .,15,3,0,0,0,3,4.000000
28020,0,@user off to islington/city soon... shooting ...,121,16,0,8,8,12,7.666667
14423,0,@user rude staff at #rewari zeevali bazar bran...,118,20,0,0,0,15,5.666667
21962,0,@user @user @user @user @user this is a msu t...,75,15,0,0,0,11,4.454545
4426,0,thanx Ã°ÂÂÂ @user #love #couple #cute #ador...,108,13,0,4,4,13,7.076923
29910,0,"see you at old billingsgate, london 23/06/16 f...",108,15,1,0,0,10,7.800000
16850,0,"the most cheesiest picture ever, but i love it...",110,15,1,10,10,10,8.000000
6265,0,jst the past few weeks a close family frnd was...,114,20,1,0,0,13,5.615385
22118,0,what is a #detoxdiet? #altwaystoheal! #health...,51,7,0,0,0,4,8.750000
11284,0,from #bracelet #vintagestyle w/free #butterfl...,75,8,0,0,0,7,8.571429
11964,0,@user that sucks you haven't gone live in fore...,56,10,0,0,0,6,4.833333
21575,0,Ã¢ÂÂ #usd/jpy struggling to build on to its...,98,15,0,3,3,11,6.545455
29802,0,#waltdisneyreso should be ashamed of themselv...,129,20,1,0,0,8,7.750000
5390,0,@user invited @user over for a catch up and i...,132,24,0,7,7,13,5.769231
860,1,black professor makes assumptions about an ent...,114,17,0,3,3,13,6.461538
15795,0,#lgbtqhatetrumppay is total #liberal trash. it...,116,12,0,0,0,10,9.700000
23654,0,what makes people is relative. we have our w...,57,10,0,0,0,5,6.000000